[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=TuxJunior
Name[en]=TuxJunior
Name[de]=TuxJunior
Name[cs]=TuxJunior
Name[nn]=TuxJunior
Name[sv]=TuxJunior
GenericName=A Platform Game
GenericName[en]=A Platform Game
GenericName[de]=Ein Jump&Run Spiel
GenericName[cs]=Plošinová hra
GenericName[nn]=Plattformspel
GenericName[sv]=Ett plattformsspel
Comment=A classic 2D platform game
Comment[en]=A classic 2D platform game
Comment[de]=Ein von Super Mario inspiriertes Pinguin Jump&Run Spiel
Comment[cs]=Plošinovka inspirovaná SuperMariem s tučňákem Tuxem v hlavní roli
Comment[nn]=Eit klassisk todimensjonalt plattformspel.
Comment[sv]=Ett klassiskt tvådimensionellt plattformsspel
Icon=tuxjunior.png
Exec=tuxjunior
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
